.dropmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  height: 100px;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  border-bottom: 1px solid #ffffff;
  right: 0;
}




.select {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
